.contenedor {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 1em;
  column-gap: 1em;
}

@media screen and (max-width: 768px) {
  .col-sm-1 {
    grid-column-end: span 1;
  }
  .margin-sm-1 {
    grid-column-start: 2;
  }
  .col-sm-2 {
    grid-column-end: span 2;
  }
  .margin-sm-2 {
    grid-column-start: 3;
  }
  .col-sm-3 {
    grid-column-end: span 3;
  }
  .margin-sm-3 {
    grid-column-start: 4;
  }
  .col-sm-4 {
    grid-column-end: span 4;
  }
  .margin-sm-4 {
    grid-column-start: 5;
  }
  .col-sm-5 {
    grid-column-end: span 5;
  }
  .margin-sm-5 {
    grid-column-start: 6;
  }
  .col-sm-6 {
    grid-column-end: span 6;
  }
  .margin-sm-6 {
    grid-column-start: 7;
  }
  .col-sm-7 {
    grid-column-end: span 7;
  }
  .margin-sm-7 {
    grid-column-start: 8;
  }
  .col-sm-8 {
    grid-column-end: span 8;
  }
  .margin-sm-8 {
    grid-column-start: 9;
  }
  .col-sm-9 {
    grid-column-end: span 9;
  }
  .margin-sm-9 {
    grid-column-start: 10;
  }
  .col-sm-10 {
    grid-column-end: span 10;
  }
  .margin-sm-10 {
    grid-column-start: 11;
  }
  .col-sm-11 {
    grid-column-end: span 11;
  }
  .margin-sm-11 {
    grid-column-start: 12;
  }
  .col-sm-12 {
    grid-column-end: span 12;
  }
  .hidden-sm {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .col-md-1 {
    grid-column-end: span 1;
  }
  .margin-md-1 {
    grid-column-start: 2;
  }
  .col-md-2 {
    grid-column-end: span 2;
  }
  .margin-md-2 {
    grid-column-start: 3;
  }
  .col-md-3 {
    grid-column-end: span 3;
  }
  .margin-md-3 {
    grid-column-start: 4;
  }
  .col-md-4 {
    grid-column-end: span 4;
  }
  .margin-md-4 {
    grid-column-start: 5;
  }
  .col-md-5 {
    grid-column-end: span 5;
  }
  .margin-md-5 {
    grid-column-start: 6;
  }
  .col-md-6 {
    grid-column-end: span 6;
  }
  .margin-md-6 {
    grid-column-start: 7;
  }
  .col-md-7 {
    grid-column-end: span 7;
  }
  .margin-md-7 {
    grid-column-start: 8;
  }
  .col-md-8 {
    grid-column-end: span 8;
  }
  .margin-md-8 {
    grid-column-start: 9;
  }
  .col-md-9 {
    grid-column-end: span 9;
  }
  .margin-md-9 {
    grid-column-start: 10;
  }
  .col-md-10 {
    grid-column-end: span 10;
  }
  .margin-md-10 {
    grid-column-start: 11;
  }
  .col-md-11 {
    grid-column-end: span 11;
  }
  .margin-md-11 {
    grid-column-start: 12;
  }
  .col-md-12 {
    grid-column-end: span 12;
  }
  .hidden-md {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .col-lg-1 {
    grid-column-end: span 1;
  }
  .margin-lg-1 {
    grid-column-start: 2;
  }
  .col-lg-2 {
    grid-column-end: span 2;
  }
  .margin-lg-2 {
    grid-column-start: 3;
  }
  .col-lg-3 {
    grid-column-end: span 3;
  }
  .margin-lg-3 {
    grid-column-start: 4;
  }
  .col-lg-4 {
    grid-column-end: span 4;
  }
  .margin-lg-4 {
    grid-column-start: 5;
  }
  .col-lg-5 {
    grid-column-end: span 5;
  }
  .margin-lg-5 {
    grid-column-start: 6;
  }
  .col-lg-6 {
    grid-column-end: span 6;
  }
  .margin-lg-6 {
    grid-column-start: 7;
  }
  .col-lg-7 {
    grid-column-end: span 7;
  }
  .margin-lg-7 {
    grid-column-start: 8;
  }
  .col-lg-8 {
    grid-column-end: span 8;
  }
  .margin-lg-8 {
    grid-column-start: 9;
  }
  .col-lg-9 {
    grid-column-end: span 9;
  }
  .margin-lg-9 {
    grid-column-start: 10;
  }
  .col-lg-10 {
    grid-column-end: span 10;
  }
  .margin-lg-10 {
    grid-column-start: 11;
  }
  .col-lg-11 {
    grid-column-end: span 11;
  }
  .margin-lg-11 {
    grid-column-start: 12;
  }
  .col-lg-12 {
    grid-column-end: span 12;
  }
  .hidden-lg {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  /* Ejemplo de uso media query para resoluciones SM; */
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Ejemplo de uso media query para resoluciones MD */
}
@media screen and (min-width: 1024px) {
  /* Ejemplo de uso media query para resoluciones LG */
}
#cabecera {
  background-color: #222222;
}
#cabecera .logo {
  font-size: 2em;
  color: #777;
}
#cabecera nav ul li a {
  color: #C5C5C5;
  font-size: 1.5em;
}
#cabecera nav ul li a:hover {
  color: #2F937B;
  transition: color 1s;
}

#servicios {
  padding: 2em;
}
#servicios article i {
  font-size: 2em;
  color: #2F937B;
}
#servicios article h4 {
  color: #2F937B;
}
#servicios article p {
  color: #777;
}

#portfolio {
  background-color: #F1F1F1;
  gap: 2em;
  padding: 2em;
}
#portfolio h3 {
  font-size: 2em;
}

#about #texto-about h3 {
  font-size: 2em;
}
#about #texto-about a {
  background-color: #2F937B;
  color: #C5C5C5;
}

#contacto {
  text-align: center;
}
#contacto h3 {
  font-size: 2em;
}
#contacto button {
  background-color: #2F937B;
  color: #C5C5C5;
}
#contacto #formulario-contacto {
  background-color: #F1F1F1;
  font-family: Raleway !important;
}
#contacto #formulario-contacto textarea {
  resize: none;
  font-family: Raleway !important;
  padding: 0.5em;
}
#contacto #formulario-contacto input {
  font-family: Raleway !important;
  padding: 0.5em;
}