#servicios{
    padding:2*$tam-base;
    article{
        i{
            font-size:2*$tam-base;
            color:$color-botones;
           
        }
        h4{
            color:$color-botones;
        }
        p{
            color:$color-titulo;
        }
    }
}